body {
    font-family: 'Arial', sans-serif;
    background-color: #ffdbac; /* Amarillo durazno */
    margin: 0;
    overflow: hidden; /* Evita el desplazamiento */
}

.window {
    position: absolute;
    width: 90%;
    max-width: 300px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
}

.main-window {
    width: 90%;
    max-width: 800px;
    height: auto;
    max-height: 70%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.title-bar {
    background-color: #0000ff; /* Azul */
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.title-bar .title {
    font-weight: bold;
}

.title-bar .close-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.content {
    padding: 10px;
    background-color: #ffdbac; /* Amarillo durazno */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.decorative-container {
    background-color: #c0c0c0;
    padding: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0px 0;
    justify-content: space-between; /* Alinear al extremo derecho */

}

.aplastador {
    align-items: center; /* Centrado vertical */
    margin: 20px; /* Margen exterior */
    margin-bottom: 20px;
    border: dashed; /* Borde punteado */
    border-color: black; /* Color del borde */
    position: relative; /* Para posicionar correctamente los números */
}

ol {
    counter-reset: item; /* Restablecer el contador */
    list-style: none; /* Eliminar la numeración predeterminada */
    padding: 0%;
}

ol li {
    position: relative; /* Posición relativa para alinear correctamente el contenido */
}

li {
    justify-content: space-between;
}

ol li::before {
    counter-increment: item; /* Incrementar el contador */
    position: absolute; /* Posicionar absolutamente el número */
    right: 0; /* Alinear el número a la derecha */
    color: #000; /* Color del número */
    font-weight: bold; /* Negrita para el número */
}

.open-window {
    color:black;
    margin-right: 10px;
}
.center-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.center-content h1 {
    margin-bottom: 20px;
}

.center-content img.landscape {
    width: 100%; /* Ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-width: 600px; /* Tamaño máximo para la imagen */
    margin-bottom: 20px;
}

.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c0c0c0;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid #000;
    justify-content: space-between;
}

.taskbar-button {
    background-color: #04981cba; /* Azul */
    color: #fff;
    border: solid;
    border-color: #000;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

/* Nuevos estilos para el div "x" */
.center-content .decorative-container.x {
    width: auto;
    background-color:  #c0c0c0;
    padding: 10px;
    text-align: center; /* Alineación del contenido de la tabla de contenidos */
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
}
/* Nuevos estilos para el div hora */
.taskbar .hora {
    background-color:  #c0c0c0;
    margin-right: 15px;
}

/* Media Queries para responsive design */
@media (min-width: 600px) {
    .main-window {
        flex-direction: column;
    }

    .content {
        flex-direction: row;
    }

    .center-content {
        width: 70%;
    }

    .decorative-container {
        width: 20%;
        margin: 0;
    }
}


/* Estilos para el botón en la esquina superior derecha */
.top-right-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 37px;
    height: 37px;
    background-color:#0dff00a4; /* Color de fondo del botón */
    border: solid; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right-button::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid white; /* Color del borde del triángulo */
}

a {
    white-space: pre-wrap; /* Conserva los espacios y permite saltos de línea */
}

/* Estilos para botones de horario */

.dia-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.dia-button:hover {
    background-color: #0056b3;
}
.dias-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}